<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="{% url 'lib:show_books' %}">Show Books</a>
    <!-- <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Add Book</button>
    </form> -->
    {% load django_bootstrap5 %}
    <form action="/url/to/submit/" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="OK" %}
    </form>
</body>

</html>