<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="">Car Name:</label>
        <input type="text" name="car_name" id=""><br>
        <label for="">Car Model:</label>
        <input type="text" name="car_model" id=""><br>
        <label for="">Car Color:</label>
        <input type="text" name="car_color" id=""><br>
        <label for="">Car Price:</label>
        <input type="number" name="car_price" id=""><br>
        <input type="submit" value="Add Car">
    </form>

</body>

</html>