<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show_cars</title>
</head>

<body>
    <table border="3">
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Color</th>
            <th>Price</th>
            <th></th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car.name }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.price }}</td>
            <td><a href="{% url 'app:edit_car' car.pk %}"><button>Update</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br>

    <a href="{% url 'app:add_car' %}"><button>Add Car</button></a>
</body>

</html>