{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'home' %}" class="nav-logo">Manjunath L</a>
            <ul style="display: flex; gap: 40px; list-style: none;">
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="{% url 'about' %}" class="active">About</a></li>
                <li><a href="{% url 'projects' %}" class="active">Projects</a></li>
                <li><a href="{% url 'contact' %}" class="active">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Manjunath L </p>
    </footer>
</body>

</html>