<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% load custom_filter %}
<!-- 
    {% if n|count_digits == 1 %}
    <p>{{ n }} is a single digit.</p>
    {% elif n|count_digits == 2 %}
    <p>{{ n }} is a two-digit number.</p>
    {% elif n|count_digits == 3 %}
    <p>{{ n }} is a three-digit number.</p>
    {% else %}
    <p>{{ n }} has more than three digits.</p>
    {% endif %} -->

    {%if n >= 0 and n <= 9 %}
    <p>{{ n }} is a single digit.</p>
    {% elif n >= 10 and n <= 99 %}
    <p>{{ n }} is a two-digit number.</p>
    {% elif n >= 100 and n <= 999 %}
    <p>{{ n }} is a three-digit number.</p>
    {% else %}
    <p>{{ n }} has more than three digits.</p> 
    {% endif %}
</body>

</html>